{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Add Conteudo
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-header">
            <h3 class="card-title">adicionar Conteudo </h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/add_subject_save" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label >Nome do Curso </label>
                <input type="text" class="form-control" name="course" placeholder="Nome do curso">
              </div>
               <div class="form-group">
                <label>Nome do Curso</label>
                <select class="form-control" name="course">
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">
              <label>Nome do Curso</label>
              <select class="form-control" name="staff">
                  {% for staff in staffs %}
                  <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                  {% endfor %}
              </select>
          </div>


              <div class="form-group">
                {% if messages %}             
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            

              <!-- /.col -->
            </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Adicionar Curso</button>
            </div>
          </form>
        </div>
        

      </div>
        
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  {% endblock main_content %}
 
